$header: 26px;
$font-weight-label: 600;

.movie-view {
    padding: 10px;

    .movie-image {
        display: flex;
        justify-content: center;
    
        img {
            max-width: 60%;
            max-height: 60%;
        }
    }
}

.label {
    font-size: $header;
    font-weight:$font-weight-label;
}
