$header: 26px;
$text: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-weight-label: 600;

.movie-view {
    padding: 10px;

    .movie-image {
        display: flex;
        justify-content: center;
    
        img {
            max-width: 80%;
            max-height: 80%;
        }
    }
}

.label {
    font-size: $header;
    font-weight:$font-weight-label;
}

.value {
    font-family: $text;
}