$text: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-weight-label: 600;
.app-container {
  padding: 20px;
}

.main-view{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

* {
  font-size: 18px;
  font-family: $text;
}
